body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tile {
  height: 100px;
  width: 100px;
  border: 1px solid rgb(216, 143, 206);
  float: left;
}

.scoreBox {
  height: 90px;
  width: 90px;
  border: 1px solid rgb(216, 143, 206);
  margin: auto;
  display: flex;
}
.scorePairs {
  height: 90px;
  width: 90px;
  border: 1px solid rgb(216, 143, 206);
  margin: auto;
  display: flex;
}

#grid {
  max-width: 60vw;
  margin: 10px auto;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin: 10px 0px;
}

form input {
  height: 30px;
}

form input[type=submit] {
  margin: 20px 0px;
}

form textarea {
  resize: none;
  height: 100px;
}

nav {
  padding: 20px;
  border: 1px solid black;

}

nav a, nav span {
  text-decoration: none;
  color: crimson;
  margin: 0px 10px;
  cursor: pointer;
}